<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bisonswap.bisonswap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sign_in" />
        <activity android:name=".SignIn" />
        <activity android:name=".Chat" />
        <activity android:name="com.firebase.ui.AddNewItem" />
        <activity android:name=".AddItem" />
        <!-- <<<<<<< HEAD -->
        <activity android:name=".ChatList" />
        <!-- ======= -->
        <activity android:name=".ItemActivity" />
        <!-- &gt;>>>>>> 6998030cd3c7e15a5d7a025304dd830f42620a0f -->
        <!-- <activity android:name=".test"></activity> -->
        <activity android:name=".ChatPick" />
        <activity android:name=".MyItems" />
        <activity android:name=".LikedItemList" />
        <activity android:name=".MyOffers" />
        <activity android:name=".MakeOffer" />
        <activity android:name=".OfferMenu" />
        <activity android:name=".OfferFeedback" />
        <activity android:name=".OfferMenu_manageOffers" />
        <activity android:name=".Terms"></activity>
    </application>

</manifest>